/* Stacked Cards component css */
.stackedcards-overflow {
    overflow-y: hidden !important;
}

.stackedcards {
    position: relative;
}

.stackedcards-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.stackedcards--animatable {
    -webkit-transition: all 500ms ease;
            -o-transition: all 500ms ease;
            transition: all 500ms ease;
}

.stackedcards .stackedcards-container > *{
    position: absolute;
    justify-self: center;
    will-change: transform, opacity;
}

.stackedcards .stackedcards-container > :nth-child(1) {
    position: relative;
    display: block;
}

.card-item { 
    display: flex;
    margin: 0!important;
    max-width: 40vw;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    background: #FFFFFF; 
    border-radius: .28571429rem;
    will-change: transform, opacity;
}

.card-item > * {
    padding: 1em 1em;
}

/* global actions buttons*/
.global-actions {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    margin-top: 10px;
}

.top-action,
.right-action,
.left-action {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
}

.top-action {
    background: #E38568;
    margin: 0 10px; 
}

.right-action { background: #7BB3C5; }
.left-action { background: #E58D93; }

