/* Stacked Cards component css */
.no-transition {
  -webkit-transition: none ! important;
  -o-transition: none ! important;
  transition: none ! important;
}

.stackedcards-overflow {
    overflow-y: hidden !important;
}

.stackedcards.init {
    opacity: 1;/* set the opacity to 0 if you want a fade-in effect to stacked cards on page load */
}

.stackedcards {
    position: relative;
}

.card-item {
    margin: 0!important;
}

.stackedcards-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.stackedcards * {
    -webkit-user-select: none;
            -moz-user-select: none;
             -ms-user-select: none;
         user-select: none;
}

.stackedcards--animatable {
    -webkit-transition: all 400ms ease;
            -o-transition: all 400ms ease;
            transition: all 400ms ease;
}

.stackedcards .stackedcards-container > *{
    position: absolute;
    justify-self: center;
    min-width: 40vw; /* set 100% */
    will-change: transform, opacity;
    
    border-radius: 10px;
}
.stackedcards-origin-bottom {
    -webkit-transform-origin: bottom;
            -ms-transform-origin: bottom;
        transform-origin: bottom;
}

.stackedcards-origin-top {
    -webkit-transform-origin: top;
            -ms-transform-origin: top;
        transform-origin: top;
}

.stackedcards-bottom,
.stackedcards-top,
.stackedcards-none {
    background: #fff; /* set card background background */
}

.stackedcards .stackedcards-container > :nth-child(1) {
    position: relative;
    display: block;
}

/* global actions buttons*/
.global-actions {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    margin-top: 10px;
}

.top-action,
.right-action,
.left-action {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
}

.top-action {
    background: #E38568;
    margin: 0 10px; 
}

.right-action { background: #7BB3C5; }
.left-action { background: #E58D93; }

/* elements on stacked cards */
.card-item { background: #FFFFFF; }